[2019-03-14 10:43] gmajan opened #2 "Add documentation and communication to default issue formats"
Issue formats exist for bugs, features, science, feedback but not for admin, documentation, comms, etc. It would be good to add these options.

[2019-03-14 10:44] gmajan opened #3 "Replace / update the charter, participation agreements on the website"
There seem to be slightly different versions of the participation agreements and charter that have the same date. The website has versions that are slightly different in formatting. It would be good to check and update.

[2019-03-26 16:44] gmajan commented on #2
I have added comms and doc types as issue templates. I am not sure whether admin would be useful. So I dropped that template idea.

[2019-03-26 16:44] #2 closed

[2019-03-26 16:48] gmajan opened #4 "Automatic label for feature templates are missing"
**Describe the bug**
When a new issue is created it does not get its label automatically.

**To Reproduce**
Create an issue

**Expected behavior**
When issue is created, it is automatically assigned the correct label: bug, features, comms, docs, etc

**Screenshots**
NA

**Operating Environment:**
GitHub

**Additional context**
NA

[2019-03-27 21:14] gmajan opened #5 "allow anybody to suggest a Contribution to the strategic plan"
Make an issue template or make a label. It should probably be a feature under .github.
To be decided.

[2019-03-31 10:06] gmajan opened #6 "missing links"
**What does the current documentation state?**
https://github.com/moja-global/.github/wiki/What-Is-a-moja-global-Project%3F
This page has missing links to:
mobilize the necessary resources
join the projects
submit project idea

[2019-03-31 10:07] gmajan commented on #5
I have added this page with link to How to Contribute and Strategic Plan and etc.

[2019-03-31 10:07] #5 closed

[2019-03-31 12:22] ditisalles opened #8 "Request to Join the project"
**Describe what you are trying to do and why it is not optimal.**
I would like to join your project. Can you please add me?

[2019-03-31 15:47] gmajan opened #10 "Remove info about FLINT from ReadMe in .github and move to FLINT repo"
**What does the current documentation state?**
Info on why FLINT and how to install FLINT is in ReadMe of .github which contains only info on how to work with moja global organisation.

**Where is this stated?**
In Readme

**Why do you want to improve the statement?**
Too much info in the wrong place. Nobody wants to ready that much.

**Proposed statement**
Move info to the FLINT repo

[2019-04-01 12:17] gmajan opened #11 "Set up community profile for moja global"
https://help.github.com/en/articles/about-community-profiles-for-public-repositories

[2019-04-03 13:59] gmajan opened #12 "Public API for FLINT"
**What does the current documentation state?**
I suppose that we have it somewhere, if so, this is more a reminder. If not, we should provide coders with the API for FLINT so they can develop proper modules.

**Where is this stated?**
The versioning approach in the .github repo, is based on a different numbering if the API changes.

[2019-04-03 17:03] #8 closed

[2019-04-08 09:25] gmajan opened #14 "Correct process in howto docs similar to change Rob dL made to how to provide user feedback"
**What does the current documentation state?**
Copy and paste the text currently in the documentation. If you want improve graphs or photos, please provide a screenshot of the original.

**Where is this stated?**
Provide additional information about the location where you have copied the above statement from.

**Why do you want to improve the statement?**
Please explain why the statement needs to

[2019-04-08 09:33] gmajan commented on #14
**What does the current documentation state?**
The following step is missing:
"Click the green "New Issue" button"

**Where is this stated?**
How-to-Provide-Strategic-Advice.md
How-to-Report-Bugs.md
How-to-Request-a-New-Feature.md

[2019-04-10 14:32] gmajan commented on #14
done

[2019-04-10 14:32] #14 closed

[2019-04-25 15:17] gmajan commented on #12
I am using this comment to test the credit bot we are using.
@all-contributors please add @kaskou for maintenance

[2019-04-25 15:35] gmajan commented on #12
@all-contributors please add @mtbdeligt  for maintenance

[2019-04-25 16:30] gmajan commented on #12
non-name possible?
@all-contributors please add @moja-global for code

[2019-04-25 16:33] gmajan commented on #12
@all-contributors please add @globalmoja for code

[2019-04-25 16:38] gmajan commented on #12
@all-contributors please remove @moja-global for code

[2019-04-25 16:39] gmajan commented on #12
@all-contributors please add @moja-global for documentation

[2019-04-25 17:02] gmajan commented on #12
@all-contributors please add @mtbdeligt for doc

[2019-04-26 18:59] gmajan commented on #12
@all-contributors please add @mtbdeligt  for maintenance

[2019-04-27 14:03] gmajan commented on #11
We have a tick in all the boxes except for pull request templates

[2019-04-27 14:03] #11 closed

[2019-04-27 14:04] gmajan commented on #10
I have stored the info about FLINT in a separate document in the root of this repo

[2019-04-27 14:04] #10 closed

[2019-04-27 14:10] gmajan commented on #6
I added the links.

[2019-04-27 14:10] #6 closed

[2019-04-27 15:13] gmajan opened #30 "labels not working"
**Describe the bug**
When I try to add the labels for time required: the labels are missing

**To Reproduce**

[2019-04-27 15:14] gmajan commented on #30
I think this will take much more time to resolve. So i have changed the label from 1 to 4 hours.

[2019-04-27 15:16] gmajan commented on #30
I cannot reproduce this problem. All labels seem to be working fine. But I understand that we want to provide an alphabetical list to ensure the labels appear together.

[2019-04-27 15:22] gmajan commented on #30
I have added a T for time and an X for experience to ensure the levels appear together in the issues list. It was done in less than 1 hour. So I changed time label back to 1 hour.

[2019-04-27 15:22] #30 closed

[2019-04-27 15:23] gmajan commented on #4
done.

[2019-04-27 15:23] #4 closed

[2019-04-29 06:06] gmajan commented on #12
@all-contributors please add @malfrancis for code

[2019-04-29 06:11] mtbdeligt commented on #12
@allcontributors[bot] please add @leitchy for code

[2019-05-27 09:56] ditisalles commented on #12
@all-contributors please add @mfellows for code

[2019-05-28 10:43] gmajan commented on #12
@all-contributors please add @canada-ca for financial

[2019-07-15 12:20] nibwene commented on #12
@all-contributors please add @nibwene for documentation

[2020-02-14 17:32] gmajan commented on #12
@all-contributors please add @kaskou for maintenance

[2020-02-28 07:32] Deepak-Sati commented on #12
@gmajan can you get me started with the issue. I am interested in solving it .

[2020-02-28 17:31] mfellows commented on #12
@Deepak-Sati Thank you for your interest in working on the FLINT framework! This issue is mainly an internal one, but we would be happy to point you to other parts of the project to work on. If you found us through Google Summer of Code, please have a look at our available projects [here](https://github.com/moja-global/Google-Summer-of-Code), which should have some more detail in the coming weeks.

[2020-05-26 11:27] abhineet97 opened #38 "Suggestions for improving the Contribution Guidelines"
Hi!

I think that the current [contribution guidelines] can be vastly simplified.

Many of the guides like [`How-to-Report-Bugs.md`](https://github.com/moja-global/About-moja-global/blob/master/Contributing/How-to-Contribute-Code.md), [`How-to-Provide-User-Feedback.md`](https://github.com/moja-global/.github/blob/master/Contributing/How-to-Provide-User-Feedback.md), [`How-to-Request-a-New-Feature.

[2020-05-26 13:34] gmajan commented on #38
Hi Abhineet,
Thank you for the great suggestions. I am happy if you go ahead with this.
Looking forward to your changes.

[2020-05-29 08:53] #38 closed

[2020-05-29 08:57] gmajan commented on #12
@all-contributors please add @abhineet97  for documentation

[2020-06-04 13:26] gmajan opened #41 "Naming Convention for the Repositories"
**What does the current documentation state?**
We are using an unwritten naming convention for the repositories. As far as I know, we use . to indicate a sort of sub-directory and _ to connect words of 1 title.
The top directory indicates the initiative the directory is under: e.g. GSoC so people know that adding to these repos might interfere with deliverables.
If there is no initiative, then the

[2020-06-09 02:57] Patamap opened #42 "Adopt code of conduct for moja global projects"
Issues:
A clear and concise description of what the problem is. Ex. When I reach this point, I cannot [...]
Adopt a code of conduct (Contributor Covenant, https://www.contributor-covenant.org?) to set clear expectations for acceptable and unacceptable behavior in Moja global projects

Solution:
Agree or write a code of conduct to set clear expectations and guidelines for contributor behavior in Mo

[2020-06-09 06:24] gmajan opened #43 "Big Issue that needs to be broken down"
This issue is to test how we want to work with the boards.

[2020-06-09 09:14] gmajan commented on #42
Dear Patama,
We are using this code of conduct: https://github.com/moja-global/About_moja_global/blob/master/CODE_OF_CONDUCT.md

It is an open source initiative that is developing the code of conduct jointly so we learn from eachother. https://www.contributor-covenant.org/

I am however a bit worried that you did not see the code of conduct in the about-moja-global repo

[2020-06-11 01:27] ppatama opened #44 "Create process for the use of issues/new idea and boards with labels"
**What does the current documentation state?**
To explain how to use issue and project board with labels.

**Where is this stated?**
In google doc.

**Why do you want to improve the statement?**
Everyone can work in the same way of working.

[2020-06-11 01:29] ppatama commented on #44
@ppatama  claim

[2020-06-11 03:12] Patamap commented on #44
See the document here, https://docs.google.com/document/d/1Yxyu9rfrRc94s3e3lhKFjmcOnudsqrs-fqxYsSJ9QAc/edit#

[2020-06-11 03:38] Tlazypanda opened #45 "EPIC for Add Zulipbot to manage and optimize Github Workflow"
**Is your feature request related to a problem? Please describe.**
@zulipbot is a GitHub workflow bot application for the Zulip organization and its repositories. Written in Node.js, the bot manages issues and pull requests in the repository in order to create a better workflow for Zulip contributors.

zulipbot's purpose is to work around various limitations in GitHub’s binary permissions and noti

[2020-06-11 03:44] Tlazypanda opened #46 "Add Welcome Bot to create an inclusive environment for new contributors"
**Is your feature request related to a problem? Please describe.**
Welcome is a simple way to welcome new users based off maintainer defined comments.

The 3 plugins it combines with are new-issue-welcome(Comment to be posted to on first time issues) , new-pr-welcome(Comment to be posted to on PRs from first time contributors in your repository) and first-pr-merge(Comment to be posted to on pull r

[2020-06-11 10:58] gmajan commented on #45
I like the idea. I am not totally clear yet how it will work but I will learn when we test it on the about-moja-global repository. After that we can roll it out to the other repos. Good idea. Thank you. Keep those ideas coming!!

[2020-06-11 11:00] gmajan commented on #46
Full support for this idea. Great that you have added it as an On-boarding milestone. Thx!

[2020-06-14 17:35] #46 closed

[2020-06-14 17:37] gmajan commented on #12
@all-contributors please add @Tlazypanda for documentation

[2020-06-14 17:38] gmajan commented on #12
@all-contributors please add @Patamap  for documentation

[2020-06-15 03:36] Patamap commented on #45
@Tlazypanda Thanks for the idea. It is great. Can we also create the add Project-bot to manage and optimize the Kanban board? Is that the Project- Bot best practice for board?

[2020-06-16 03:26] Patamap commented on #42
thanks for sharing!!! It would be good to have all info in one area. So it is easy to find for newcomer.

[2020-06-16 03:36] ppatama opened #50 "Pop up "msg for recoginizing of new comer that is leading to the all basic information of Moja global"
Unaware of reading the guideline/basic information for a newcomer although the read the guide is located on each page of moja global.

Solution
The small icon shows as a recognizing on each page for a newcomer for guiding him/her to the right place to read before starting to work with Moja global.
@gmajan @Tlazypanda

[2020-06-16 07:24] ppatama commented on #50
It is part of github itself. Therefore, closed issues.

[2020-06-16 07:25] #50 closed

[2020-06-16 09:34] gmajan commented on #42
I agree. What do you suggest? thx

[2020-06-17 01:01] Patamap opened #51 "Add the reviewer to the issue page"
Able to select the reviewers directly on the issue page.  It means 1, 2, 3  can review issues/new ideas to agree and approve together.

[2020-06-17 02:05] Patamap commented on #51
@Tlazypanda @gmajan It looks like the reviewer is shown in the PR but not in the issue as the common behavior for github. So I close this issue as it is not needed.

[2020-06-17 02:06] Tlazypanda commented on #51
@Patamap no no it's just for testing the project- board 😅

[2020-06-17 02:06] Tlazypanda commented on #51
@Patamap yeah!

[2020-06-17 02:11] Patamap commented on #51
@Tlazypanda Thanks!!! Closed the issue.

[2020-06-18 00:13] Patamap commented on #41
Set a meaningful name:
1.  Try to make purpose obvious in title
2  Use hyphens (-) instead of underscores (_)  For ex.
    FLINT-Grassland-carbon-models
    GSoC-FLINT-Agricultural-Soil-Model
    Country-mapping-project
3. Write a description: Write one or two sentences to quickly describe the project.
(1repo has only 1 project in order to view all issues/new idea there)

[2020-06-20 04:40] Tlazypanda opened #52 "Moja global instances are capitalized in welcome bot config"
**Describe how we are communicating and why it is not optimal.**
Currently, the moja global instances are capitalized in welcome bot config.

**Describe the solution you'd like**
Moja global instances should be decapitalized in welcome bot config.

[2020-06-20 05:09] Tlazypanda opened #54 "Add pull request template"
**Is your feature request related to a problem? Please describe.**
Adding a pull request template will make it easier for contributors and maintainers to review the code since they will first have to meet the checklist provided in the pull request template to be eligible for the review.

**Describe the solution you'd like**
Add pull request template markdown file to .github folder.

[2020-06-20 18:13] #54 closed

[2020-06-20 18:13] #52 closed

[2020-06-22 01:03] Patamap opened #56 "EPIC for How to make a new GitHub repository workflow best practices"
How to make a new GitHub repository workflow best practices?

1. Repository creation (name conventional)
https://github.com/moja-global/About_moja_global/issues/41

2. Configure repository (automatic licence, readme, config lable (in org leve?l), etc)
@Tlazypanda, please create a new issue with the spec of configuration repos.

3. Updated document: Repository creation.

4. Set up useful labels, ht

[2020-06-22 01:03] Patamap opened #57 "**Cards**"
Set up board rules and configuration board (simple, no backlog, duplicated approved/done).
@gmajan.

[2020-06-22 01:04] Patamap opened #58 "Set up Project board"
As agreed with @gmajan, the one repo should have only one board in order to track all development issues and documents issues in one board.

Actions are
1. Set up board rules (simple, no backlog, duplicated approved/done).
2. Document.

Related to https://github.com/moja-global/About_moja_global/issues/59

[2020-06-22 02:40] Patamap opened #59 "EPIC for Project-bot to manage and optimize the board"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-06-22 03:20] Patamap commented on #42
@gmajan, we can put to this code conduct to welcome bot msg which is coded and tested by @Tlazypanda and also add to Contributing Guideline document which is the part of @Sneha GSOD.

[2020-06-22 03:25] Patamap opened #60 "EPIC for Testing Tools (coverage/CI/CD/health check)"
The purpose of CI is here, https://github.com/moja-global/About_moja_global/issues/72

Actions are
1. Set up CI communication in SLACK. Done.
https://app.slack.com/client/T1G1M5HPF/C015F595D0W/thread/D014MSKDFGW-1592806920.001400

2. Testing the FLINT (ask the question/engage Jim and Max) to get the gap and able to write the specification.
https://github.com/moja-global/testarea/issues

3.  Set up

[2020-06-22 03:38] Patamap opened #61 "How to Deploy the application"
Need the simple instruction for those topics due to missing.
1. Create a feature branch for development.

2. Create a tag ( semantic versioning rules).

3. Deploying the application.

[2020-06-22 03:40] Patamap opened #62 "How to maintanent Github repository"
Those instructions for moja global are missing, therefore we need those documents below,

1. Update issue and pull request
2. Adding labels
3. Updating project boards
4. Making pull requests
5. Reviewing pull requests

[2020-06-22 04:02] Patamap opened #63 "Contributing Guideline"
Specification is needed.

Refer to GSOD proposal task
https://docs.google.com/document/d/1MoSOYdlUFV2ar9e_rG4P43ucwoMUO2mTQ9pjetRGdaY/edit

@gmajan Fyi.

[2020-06-22 04:10] Patamap opened #64 "EPIC for Welcome bot"
Welcome bot is
Specification is needed.
Issue for adding config in import repo: <add link> @Tlazypanda
Config file: Create PR for versionabout moja global (import repo)  @Tlazypanda <add link>
@gmajan Should we add this to other repositories (FLINT,FLINT.example etc)??

Refer to
1. how to setup the bots as admin https://docs.google.com/document/d/1B1k2kRpAdtl9U8v-ze-uO56m8rldIuiAG1nQoZRpyDI/edit?u

[2020-06-22 04:14] Patamap commented on #57
Duplicated to https://github.com/moja-global/About_moja_global/issues/58. Therefore, I closed the issue.

[2020-06-22 04:14] #57 closed

[2020-06-22 04:20] #51 closed

[2020-06-22 06:17] Tlazypanda commented on #64
@Patamap These issues have been resolved -

- Created and pr merged for config file in import-me https://github.com/moja-global/Import-Me/pull/6
- Decapitalized instances of moja global in about_moja_global https://github.com/moja-global/About_moja_global/pull/53

Now remaining is @gmajan  input on whether welcome bot config needs to be added to other repositories :v:

[2020-06-22 13:34] gmajan commented on #63
This task has several dimensions and I do not know whether all these can be covered as part of the GSoD. I can think of the following:
1. The GSoD proposal states that we need to update the Import-me repo to make sure that every new repo starts from the same basis. This includes a clear (i.e. easy to understand) explanation how one should contribute.
2. The guidelines we provide in each repo have

[2020-06-22 13:51] gmajan commented on #64
Yes, welcome bot should be added to other repos except moja.canada and gcbm.animation
Please communicate with the maintainers in advance so they can approve your PR.
Thank you

[2020-06-22 13:58] gmajan commented on #61
Would it pls be possible to elaborate a little bit so it is easier to understand? thx

[2020-06-22 14:32] gmajan commented on #3
done

[2020-06-22 14:32] #3 closed

[2020-06-22 18:07] gmajan commented on #42
But I think it already is in there? Maybe I do not really understand.

[2020-06-23 01:45] Patamap commented on #44
@gmajan, I have updated labels in the document for the organization level.

[2020-06-23 10:23] Patamap commented on #42
@Tlazypanda can you please comment?

[2020-06-23 10:26] Tlazypanda commented on #42
The code of conduct link is there in the welcome bot message

[2020-06-24 00:53] #42 closed

[2020-06-24 02:08] Patamap opened #65 "Cleanup/Maintanent SLACK"
Cleanup/Maintanent SLACK in order to easy and transparent for everyone to use it.

Need spec.

Part of EPIC https://github.com/moja-global/About_moja_global/issues/43

[2020-06-24 12:30] Tlazypanda commented on #63
Hey @gmajan Thanks for such a detailed explanation :tada: This is elaborate but I am sure if we get started as early as possible we can capture most of it :v:

Also the 4th point right now has items that are in-progress so let's try to check items off that list as soon as possible so in the GSoD period we can just focus on the documentation part of it.

[2020-06-25 04:40] Patamap opened #66 "Tech Stack/Architecture used and the various modules in the code"
Scope is needed here.  TBD
@Tlazypanda @gmajan

[2020-06-25 04:46] Patamap opened #67 "EPIC for The community website"
The community website will have the following features:-

1. Information about our Workflow: The workflow will consist of the series of actions a new contributor can begin with i.e - claiming a first-timers issue, followed by creating a first-timers issue for someone else and helping others by providing feedback and reviewing their pull requests.
2. List of First-timer only issues: The list of iss

[2020-06-28 09:59] Tlazypanda commented on #65
@Patamap @gmajan Updating here - greetbot setup on slack for
- direct message when a newcomer joins
- channel message for when newcomers join #gsoc-general

To be updated/changed acc to convenience of other slack members.
Can take this up in the next meeting

Thanks all!! 🙌

[2020-06-29 00:25] Patamap opened #69 "Updated the ground rule for CONTRIBUTING.md"
Proposed to add "Ground rules"  to https://github.com/moja-global/About_moja_global/blob/master/CONTRIBUTING.md

Ground rules
These ground rules are the basic responsibilities for contributing to the project.

**DO's**
DO run unit tests before submitting a pull request
DO create issues first for major changes / enhancements you want to make
Discuss things transparently first and get community feed

[2020-06-29 01:20] Patamap opened #70 "Propose to add the project index page with project name, description with Maintainers link"
Propose the simple table with Repo, Description, and Maintainers. So all contributors can understand the summary of projects and maintainers contact.

See the proposal below,  => This proposal is no longer used anymore. The maintenance team can be found in the readme of each repo.

| Repository | Description | Maintainers |
|------------|-------------|-------------|
| [@moja-global/moja-global](ht

[2020-06-29 01:32] Patamap opened #71 "Greetbot on Slack for when newcomers join the slack"
Refer from https://github.com/moja-global/About_moja_global/issues/65. @Tlazypanda
Updating here - greetbot setup on slack for

- Direct message when a newcomer joins.
- Channel message for when newcomers join #gsoc-general
To be updated/changed acc to the convenience of other slack members.
Can take this up in the next meeting

The result of the msg for greetbot
Hello @new_user_name !:wave: Welco

[2020-06-29 02:44] Patamap commented on #71
My proposal of the content below,
-  Welcome to the development and science discussion channel for Moja Global.

-  Feel free to ask questions about our projects (e.g. [FLINT](https://github.com/moja-global/FLINT) ) or reach out to the developers.6
-  Please remember to be kind and respectful in all discussions. These are our Code Of Conduct to keep in mind.
-  Change from @Random channel to be @g

[2020-06-29 04:35] Patamap commented on #65
@Tlazypanda Thanks for elaborated. The greetbot moves to https://github.com/moja-global/About_moja_global/issues/71. So this issue keeps for cleanup/Maintanent SLACK.

[2020-06-29 04:47] Patamap commented on #45
The requirements in the issue itself are
1. The issue creator can assign the issue to him/herself with type "@name claim"
2. The issue creator can unassign  the issue from him/herself with type "@name abandon"
3. The new creator can only chose the issue with label  with type "@name newcomer"
4.

[2020-06-30 00:54] Patamap commented on #41
@gmajan @Tlazypanda this issue becomes a high priority due to creating more on the new repo nowadays. May I have your comment on the proposal, please?

[2020-07-01 02:03] Patamap opened #72 "Set up automatic CI testing for new pull requests"
**Goal**: Set up [continuous integration](https://github.com/marketplace/category/continuous-integration) (CI) to build new pull requests against FLINT projects.

**Why CI?**
CI is important for a project because it prevents simple mistakes or oversights making it into a production codebase. Effective test cases can be written to hook into any of the CI platforms available, such as TravisCI, Circl

[2020-07-01 04:14] Patamap opened #73 "Choose Documentation platform"
**Summary**:  Establish a documentation platform for hosted documentation about Moja Global projects.

**Background:** Effective documentation is critical in technical projects – open source or otherwise. However, it's especially helpful for Moja Global because of the small team size and need to engage with the open-source community.

Better documentation for MojaGlobal means…
1. New contributors/

[2020-07-01 06:32] Tlazypanda commented on #73
I think hosting platform Read The Docs  should be used due to the following reasons:-
Ranked highly among different hosting platforms.
Automatic updation on pushing commit
Easy to set up and troubleshooting support available easily due to the large community using it
Documentation is formatted using reStructuredText and the output is compiled by Sphinx.

[2020-07-01 20:12] gmajan commented on #41
@Patamap When the title contains a dot (.) it is like a / in a regular file name: i.e. it is a different sub-division. Between the dots, the words are separated by underscores.
Why do you want to get rid of the dots and underscores? Thank you. :)

[2020-07-01 22:47] leitchy commented on #73
I agree, ReadTheDocs looks good.

[2020-07-01 23:36] Patamap commented on #73
The chosen is done with **"ReadTheDocs"**
The reason of selection are
- Ranked highly among different hosting platforms.
- Automatic updation on pushing commit
- Easy to set up and troubleshooting support available easily due to the large community using it
- Documentation is formatted using reStructuredText and the output is compiled by Sphinx.
- ReadTheDocs can be used for multiple programming l

[2020-07-02 07:49] Tlazypanda commented on #73
Adding here:
### Sumary of discussion:

 rST chosen over markdown to overcome the limitations of markdown giving importance to :-
- pdf generation
- more uniformity and structure (markdown has many flavors)
- more features in terms of plugins

Also for jekyll vs readthedocs the primary premise was with readthedocs free version we will have a url of `name.readthedocs.io` but with jekyll we can have

[2020-07-03 08:13] Tlazypanda commented on #71
Hey @Patamap I think that they are automatically added to general when they get added :sweat_smile:

[2020-07-03 08:53] Tlazypanda commented on #64
Hey @gmajan @Patamap I have added the pull requests for all repos except vcpkg(forked repo), Gsoc, Gsod (since these are discussion repos) and gcbm_animation (as mentioned by Guy). You can see the prs are linked in this issue so you can review and close here as well :sweat_smile: Thanks :v:

Once we have merged these pull requests ,this issue can be moved to done :smile:

[2020-07-06 08:43] Patamap commented on #64
@Tlazypanda, what is the sustainable solution for the future repo?

[2020-07-06 08:51] Patamap opened #74 "Document Structure at Readthedocs"
Here's a [link to the map of current moja global GitHub repositories](https://coggle.it/diagram/XvXuJhYkPIVpYBgV/t/available-content) and the content within them.

[The proposal documentation is here ](https://sabitarao.github.io/mojaglobal/FLINT/)

Here is the proposal document structure.

[2020-07-06 09:21] Patamap commented on #41
@gmajan thanks for your feedback. It is ok to have . and - as we agreed to choose what we want to have it together.
Not missing up. 6

[2020-07-07 19:28] Tlazypanda commented on #71
@Patamap @gmajan Updating after meeting here:

### Greetbot updated to send this message on joining #general -
@channel Hey everyone please give a warm welcome to @new_user_name! It's great to have you here :heart_decoration:
Feel free to introduce yourself or ask any questions or queries! Please be patient, we will try to get back to you as soon as possible! :raised_hands:
Welcome to moja global!

[2020-07-07 19:33] Tlazypanda commented on #59
@Patamap @gmajan Updating after our discussion here -

3 possibilities -

- **Manual project board** - have to move the cards manually everytime , have to add issue/pr to project board manually
- **Manual project board with github automation** - have to add issue/pr to project board manually but some automation available for when issues are closed or pr merged then they automatically get moved to

[2020-07-08 00:14] Patamap commented on #59
It means the project bot is not needed at this moment. The document fo project with manual project board will be created.

[2020-07-08 00:36] Patamap commented on #72
@HarrisLawYFl

[2020-07-08 11:47] Patamap commented on #58
1. ["Moja Global Project Workflow in Github"  documentation](https://docs.google.com/document/d/1zw-d7v917N4mezckCN0YBBUR4KuiSumqHpHW_YTKD98/edit#heading=h.7x7zzpkl55147) is created.
2 [Updated project board page 3](https://docs.google.com/document/d/1Yxyu9rfrRc94s3e3lhKFjmcOnudsqrs-fqxYsSJ9QAc/edit#) on Moja Global for "Process for the use of requirement/issues and boards with labels "the documen

[2020-07-08 23:37] Patamap opened #75 "Identify 3-5 "starter" tasks or bugs in any Moja Gbloal projects"
Come up with 3-5 bugs or simpler tasks to work on any Moja Gobal project especially main core projects like FLINT, Modules, About Moja Global; clearly label them as "good first issues" and leave them open for new contributors to try working on

**How to do it**
Across core projects, come up with shortlist of small / quick improvements or fixes wanted, but not urgently needed
File new issues/update

[2020-07-13 01:20] #73 closed

[2020-07-13 21:50] Patamap commented on #70
**What was done**
After a call with @gmajan, the maintainers contact will be only located on the first page of each repo. So it will be easy to view and maintains.

**What's next**
I will update all maintainers names in all existing repos. This needs to be mentioned in the admin/maintainers guideline as well.  @Tlazypanda

[2020-07-13 22:27] Patamap commented on #41
**Update:**

We ran through this name conversational together in a call yesterday.
The conventional rules are
1.  The Software name is the first and big capital.
For example, FLINT, GCBM.
2. The Subdirector will be after the software name and big capital for the first character.
For example, FLINT.Module.
3.  The same name,  _ will be used.
For example,  FLINT.Module.Forest_biomass_model.
4.  Prog

[2020-07-16 15:00] Tlazypanda commented on #71
@Patamap we can close this issue then :v: Can you please close this?

[2020-07-19 15:40] Tlazypanda opened #76 "Add cppcheck and clang-tidy codequality checks as part of CI/CD"
**Describe the solution you'd like**
Currently the pull request is not tested on whether it is following cpp style conventions and other code quality checks. Static analysis tools such as cppcheck and clang-tidy can help us check pull requests and have better code maintainability in the future.

**Describe alternatives you've considered**
As per discussion with @kaskou we need to develop our own t

[2020-07-19 15:43] Tlazypanda commented on #76
Just noting @kaskou @gmajan @Patamap Currently the preliminary action tool can be seen in action here - https://github.com/Tlazypanda/FLINT/pull/1 :sweat_smile: Needs to developed further to only flag specific errors as per our codebase

[2020-07-20 04:42] Patamap opened #77 "Summary of Internal communication"
Clear Communication though members play a big role to help everyone to work effectively together.  Summarize all internal communication and investigate if there is needed any update.

How to do it
1.    Identify what are we doing for internal communication and the effectiveness2 of the current one.
2.   The proposal the update the internal information.
3.   Evaluate.
4.   Implemented

Why do it
Wh

[2020-07-23 02:53] Patamap commented on #58
Action no.2 is completed, see the link here, https://docs.google.com/document/d/1zw-d7v917N4mezckCN0YBBUR4KuiSumqHpHW_YTKD98/edit

[2020-07-23 11:01] Patamap commented on #70
Updated: all maintenance names are updated on the readme page of each repo except the repos that I have no access.Refer to
https://docs.google.com/spreadsheets/d/1_RPuqVHMu59SuZqhEh-2mA2idTXAdwYvvWdbBSoMODw/edit?usp=sharing

[2020-07-23 19:03] Tlazypanda commented on #76
Update here: @kaskou approved initial action tool, now moving to the next stage of modifying to add flags in the action (for example allowing users to edit the action script to check for specific flags for cppcheck such as only performance or as desired)
cc @gmajan @Patamap :v:

[2020-07-23 19:21] Tlazypanda opened #78 "Creating first timer issues and outreach for moja global"
**Describe how we are communicating and why it is not optimal.**
As discussed in the last meeting moja global would love to have an active community of opensource developers and new contributors. Let's discuss some ways we as an organisation can drive more new contributors. Please feel free to add suggestions below or provide feedback.

**Describe the solution you'd like**
- Creating simple and ea

[2020-07-23 19:21] Tlazypanda commented on #78
Please have a look @Patamap @gmajan Thanks :v:

[2020-07-24 07:40] Tlazypanda commented on #64
Update : since all repositories have rolled this out we can close this 😅

[2020-07-24 07:40] #64 closed

[2020-07-24 09:40] Tlazypanda commented on #78
Hey @sulays @abhineet97 @abhi211199 @parth-gr Inviting you all to brainstorm on this and hopefully get new contributors to contribute :tada:

[2020-07-24 11:15] gmajan commented on #77
@mojaglobalbot claim

[2020-07-24 11:17] gmajan commented on #77
@mojaglobalbot unclaim

[2020-07-24 11:25] Tlazypanda commented on #45
@Patamap @gmajan So the zulipbot setup has been done and this can be closed. Moving to #63 to discuss more on contribution guidelines specific for zulipbot to be added to the readme so that contributors know what commands to write to claim issues and/or add labels. Thanks :v:

[2020-07-24 11:25] #45 closed

[2020-07-24 11:28] Tlazypanda commented on #63
@gmajan @Patamap Pulling zulipbot guidelines here:-

- Add zulipbot usage instructions to import me repository and informing all contributors to pull changes from import-me repo for the same.

[2020-07-25 13:16] abhineet97 commented on #78
An [Open Source Guide](https://opensource.guide/finding-users/) published by GitHub has some great suggestions on how we can attract more contributors. After reading it, I realized that we can benefit a lot by improving FLINT's `README`. I have some ideas, I'll try to suggest them in a PR later.

Apart from that, we should also consider promoting FLINT on platforms like reddit and [Hacker News](ht

[2020-07-26 10:20] abhi211199 commented on #78
The suggestions put forward by @Tlazypanda and @abhineet97 are really appealing 🚀🚀, social media can help us to get new contributors. Students approaching GSoCers, GSoDers, Outreachy alumnus for guidance is a common thing, and we can redirect them to the good-first-issues for a smooth start to the contribution process.

Talking about creating the issues for current projects, I think, they can be c

[2020-07-26 12:22] parth-gr commented on #78
Hy thanks for inviting me too, I like all the above suggestions.
And from my side, I can attract a large group of good developers that are in my connection.

And into the contribution part, What we can give them to start is:
1. From our project, we can suggest small work from it to them as their first contribution.
2. Documentation work, like @abhineet97, said to improve the readme.
    This can b

[2020-07-27 00:51] Patamap commented on #75
@sulays @abhineet97 @abhi211199 @parth-gr @smorken @HarrisLawYF, as discussed in the moja global TSC meeting. Refer to https://github.com/moja-global/About_moja_global/issues/78

[2020-07-28 00:40] Patamap commented on #78
@https://github.com/saloni-garg

[2020-07-30 04:36] abhineet97 commented on #75
Hello @Patamap.

Thanks tagging me. I wanted to ask what label should we use for tagging these starter issues?

It seems that `good first issue` (without hyphens) is the most popular label (as shown by the huge amount of issues that are listed [here](https://github.com/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22)). Also, this label integrates very well with GitHub's UI (as describ

[2020-07-31 10:44] #58 closed

[2020-07-31 10:58] #71 closed

[2020-07-31 11:06] gmajan commented on #61
This discussion will be taken forward under CI discussion combined with QA/QC #60

[2020-07-31 11:07] #61 closed

[2020-07-31 11:09] Tlazypanda commented on #62
Moved to contributing guidelines discussion #63  (already most of it is done or in progress)

[2020-07-31 11:09] #62 closed

[2020-07-31 11:12] gmajan commented on #65
I have removed all channels that are no longer active. The next step will be to make SLACK public. This needs to be discussed in the TSC

[2020-07-31 11:12] #65 closed

[2020-07-31 11:13] gmajan commented on #66
Add to the agenda for TSC.

[2020-07-31 11:19] Tlazypanda commented on #69
Main discussion at #63

[2020-07-31 11:19] gmajan commented on #67
Sneha will develop a detailed proposal how the community website can be widened after she has completed her work on onboarding. We will decide then how to get sufficient support on this item.

[2020-07-31 11:20] #70 closed

[2020-07-31 11:21] gmajan commented on #72
This issue is discussed under EPIC #60

[2020-07-31 11:21] #72 closed

[2020-07-31 11:23] gmajan commented on #75
Excellent point. I think it is great to find first-timer issues in other repos and get contributors to work on those. The key here is that you share your newly acquired knowledge about FLINT and its paraphernalia to the next generation of contributors.

[2020-07-31 11:26] gmajan commented on #76
@malfrancis @leitchy @mfellows is this in line with your discussion on Wednesday and can @Tlazypanda proceed? thx

[2020-07-31 11:31] gmajan commented on #77
What we need is a clear "architecture" of how the different community platforms fit together: Slack, github, community website, readthedocs, and regular website fit together with their own purpose but it might not be clear which platform is used for what communication.
This might have to be explained on the community website when we have completed it.

[2020-07-31 17:23] gmajan commented on #60
As discussed in various places, the quality of the code should be combined with the IT and the science aspects of FLINT. There is a need to break down the science aspects into tests that can be run at pull request stage, at unit test stage and at deployment stage. How this can be done will require a discussion with the scientist in our team.

[2020-08-02 20:48] Tlazypanda opened #79 "Technical Steering Committee Discussion"
This issue acts as a means to house all the Technical Steering Committee related discussions that need to be put forward in the meetings by @gmajan .

The actions items to be discussed is referenced through this Google Doc here :https://docs.google.com/document/d/176jTXrgles5IoMrTOSb3FrSwwhG0RTrXrHzDkojLk6E/edit

The minutes of meetings is referenced through this Google Doc here:-  https://docs.go

[2020-08-03 02:47] leitchy opened #80 "Implement CI/CD tools across moja - where practical"
Comlete a proof of concept for CI/CD tools in both [FLINT.Example (cmake/C++)](https://github.com/moja-global/FLINT.Example) and [FLINT.Data_Preprocessing (Python)](https://github.com/moja-global/FLINT.Data_Preprocessing) repositories.

Steps proposed:

1. Research/Find a free CI tool. Looking into norms for open source (if any).
2. Needs to integrate with FLINT cmake tests, or suggest new method

[2020-08-03 02:51] Patamap commented on #80
@gmajan @malfrancis @kaskou @HarrisLawYF  Fyi.

[2020-08-09 07:59] Patamap opened #81 "Add all contributor"
@all-contributors please add @juliancabezas for code.

[2020-08-10 01:19] Patamap commented on #81
@all-contributors please add @saloni-garg  for code

[2020-08-10 01:19] Patamap commented on #81
@all-contributors please add @yjko2 for code

[2020-08-10 01:24] Patamap commented on #81
@all-contributors please add @sulays  for code

[2020-08-10 01:24] Patamap commented on #81
@all-contributors please add @parth-gr  for code

[2020-08-10 01:25] Patamap commented on #81
@all-contributors please add @abhi211199  for code

[2020-08-11 10:19] gmajan commented on #81
@all-contributors please add @Tonnix  for code.

[2020-08-11 11:00] Patamap commented on #81
@all-contributors please add @juliancabezas  for code

[2020-08-11 11:02] Patamap commented on #81
@all-contributors please add @abhineet97  for code

[2020-08-11 11:04] Patamap commented on #81
@all-contributors please add @abhineet97 for code

[2020-08-11 11:06] Patamap commented on #81
@all-contributors please add @abhi211199  for code

[2020-08-12 14:59] Ixw123 commented on #80
Python unit testing:

So im fairly new to this whole thing but i have been looking into testing beds and frameworks in python and i can try to see what might be applicable, i will look around a bit and see. It would help however to know like what sort of tests need to be made as well as like how we would like to write tests for it. However i have never done this myself so if i wish to take it on i

[2020-08-24 23:29] Patamap commented on #81
@all-contributors please add @slkull for code

[2020-08-24 23:33] Patamap commented on #81
@all-contributors please add @vatsalyatandon for code

[2020-08-25 00:03] Patamap commented on #81
@all-contributors please add @parth-gr for code

[2020-08-25 00:04] Patamap commented on #81
@all-contributors please add @abhi211199  for code

[2020-08-25 00:06] Patamap commented on #81
@all-contributors please add @abhineet97  for code

[2020-08-25 00:07] Patamap commented on #81
@all-contributors please add @sulays for code

[2020-08-25 00:11] Patamap commented on #81
@all-contributors please add @Tlazypanda  for code

[2020-08-25 00:20] Patamap commented on #81
@all-contributors please add @tgoswamy for code

[2020-08-25 00:21] Patamap commented on #81
@all-contributors please add @trydave for code

[2020-08-25 00:31] Patamap commented on #81
@all-contributors please add @jahnvigupta for code

[2020-08-26 00:21] Patamap commented on #81
@all-contributors please add @7ayushgupta for code

[2020-08-26 00:22] Patamap commented on #81
@all-contributors please add @Tonnix for code

[2020-08-28 13:56] Ixw123 opened #105 "CD framework for open source Python development"
**Describe what you are trying to do and why it is not optimal.**
A clear and concise description of what the problem is. Ex. When I reach this point, I cannot [...]
With the CI framework setup with python (click, pytest, github workflows), we now need to determine a good way to implement CD of the project.

**Possible solution:**
The solution should be able to deploy different build for python re

[2020-08-28 13:59] Tlazypanda commented on #105
Thanks @Ixw123 for opening the issue 🎉

[2020-08-28 14:02] Ixw123 commented on #105
This might be similar to the current plan of implementation

[2020-08-29 00:04] Patamap commented on #78
Thank you very much for all the great idea and suggestions, everyone. So all are recorded and started to knick off.

Here is a Moja global communication channels link,
https://docs.google.com/document/d/1gsWZPvh76vLTh3cNq3eH6fhaYplAiHIioI2_OSzmsUE/edit

All suggestions/comments are very welcome!!!

[2020-08-29 07:24] shubhamkarande13 commented on #78
We can use @yourfirstpr [twitter.com/yourfirstpr](url) and @first_tmrs_only [twitter.com/first_tmrs_only](url) on Twitter to attract new contributors.

We can also try for Hacktoberfest 2020 which a good way of getting motivated new contributors, as after merging 4 pull requests they'll receive a free T-shirt from Digital Ocean [hacktoberfest.digitalocean.com](url)

[2020-08-31 00:17] Patamap commented on #81
@all-contributors please add @Ixw123for code

[2020-08-31 00:19] Patamap commented on #81
@all-contributors please add https://github.com/Ixw123 for code

[2020-08-31 00:22] Patamap commented on #81
@all-contributors please add @Ixw123 for code

[2020-08-31 00:24] Patamap commented on #81
@all-contributors please add @shubhamkarande13 for code

[2020-08-31 01:26] Patamap commented on #81
@all-contributors please add @saloni-garg for code

[2020-08-31 01:29] Patamap commented on #81
@all-contributors please add @yjko2 for code

[2020-08-31 02:04] Patamap commented on #79
@gmajan all were presented to TSC meeting. Can we close this issue?

[2020-08-31 10:46] shubhamkarande13 opened #110 "Building a Contributors Website for Moja Global outreach"
**Summary :** Establish a contributors website for Moja Global projects to welcome new and old contributors.

**Background :** A contributors website makes contributors feel at ease and guides them on how to get started and what to do in case they get stuck. GitHub repositories can sometimes be scary and hence a contributors website would be a great place. It will help to start with the onboarding

[2020-09-19 14:30] Mohitkumar6122 opened #111 "Contribution-Criteria is not competed"
**What does the current documentation state?**

To Be Completed
**Where is this stated?**

About_moja_global/Governance/Contribution-Criteria.md

**Why do you want to improve the statement?**
Most of new contributors can get a lot of information from contribution criteria but this markdown file is not completed.

**Proposed statement**
I can rewrite and fill all the criteria which is neccesary for

[2020-09-21 14:07] Patamap commented on #111
Thank you for the issue and offering help. That is great!!!.
And could this be part of https://github.com/moja-global/GSoD.moja_global_docs? @Tlazypanda

[2020-09-21 19:12] Mohitkumar6122 commented on #81
@all-contributors please add @Mohitkumar6122 for code for code

[2020-09-21 19:20] Mohitkumar6122 commented on #111
welcome :blush: can i contribute to it ?

[2020-09-22 07:08] Patamap commented on #111
yes, definitely. You can assign yourself to this issue and start the pull request.

If you have any questions, please let @gmajan @Tlazypanda  know.

[2020-09-22 07:58] leitchy commented on #80
Lets jump in with TravisCI - unless anybody has other thoughts? @malfrancis @mfellows @kaskou @HarrisLawYF ?

[2020-09-22 08:25] malfrancis commented on #80
TravisCI would be good i think

[2020-09-22 10:58] kaskou commented on #80
Travis CI would be good, it offers free plan for open source

[2020-09-22 19:55] Mohitkumar6122 commented on #111
@gmajan @Tlazypanda  could you tell me something about contibution criteria that is what are diffrent requirements to contribute to this organization.. ?

[2020-10-06 11:31] shubhamkarande13 opened #114 "Update labels on moja global repositories"
**Describe the bug**

The issue labels on the repos are inconsistent and this may cause problems later hence they need to be updated.

**Proposed Solution**
Using [copy-github-labels-cli tool ](https://github.com/jvandemo/copy-github-labels-cli) we will standardise the labels across multiple repositories.

@gmajan @Tlazypanda @Patamap

[2020-10-07 10:13] shubhamkarande13 commented on #114
**Update:**

Under @Tlazypanda 's guidance, I have copied all the labels from About_moja_global repo to all the other repos under moja global organisation.

**To do:**

To discuss and take further steps to clean up redundant labels in each repository.

[2020-10-07 10:40] Patamap commented on #114
@shubhamkarande13, please kindly refer to the label from this document link,  https://docs.google.com/document/d/1Yxyu9rfrRc94s3e3lhKFjmcOnudsqrs-fqxYsSJ9QAc/edit

[2020-10-16 16:39] #111 closed

[2020-12-01 15:03] gmajan commented on #41
@all-contributors please add @jenkatesmits for data

[2020-12-01 15:09] gmajan commented on #41
@all-contributors please add @jenkatesmits for data

[2020-12-01 15:09] gmajan commented on #41
@all-contributors please add @jenkatesmits for documentation

[2021-01-01 15:52] waridrox opened #119 "Inconsistent dates under Copyright section of footer element on mobile and desktop devices"
**Describe the bug**
Inconsistency of Copyright dates across the webpages in the moja-global official website, i.e. 2021 on mobile devices and 2020 on desktop devices.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `https://moja.global/`
2. Click on the different sidebars.
3. Scroll down to `bottom of the page`.
4. Look for the inconsistency of dates between `Copyright © 2021` and `Co

[2021-01-02 06:36] waridrox commented on #119
**Update - The issue has been fixed.**
Thanks

[2021-01-02 06:36] #119 closed

[2021-01-09 07:19] HarshCasper opened #120 "Update the Contribution Criteria"
**What does the current documentation state?**

The Current Documentation states: `To Be Completed`.

**Where is this stated?**

This is stated here: https://github.com/moja-global/About_moja_global/blob/master/Governance/Contribution-Criteria.md

**Why do you want to improve the statement?**

As First Time Contributors roll over to Moja Global, they would look for specific resources to understand

[2021-01-09 07:56] aornugent commented on #120
Sounds great Harsh! @Tlazypanda - is anyone else working on this?

On Sat, 9 Jan 2021, 6:20 pm Harsh Bardhan Mishra, <notifications@github.com>
wrote:

[2021-01-09 07:56] HarshCasper opened #121 "Adopt a new Web Development Stack for use with Moja Global"
## Motivation

[Moja Global](http://moja.global/) is the premier platform that showcases the work and the impact of Moja Global in the long run. It also consists of all the information that a user might need to know about the same, without delving into the Code, including the News and Webinars that are being run.

However a quick test, it is realized that the Moja Global Website is powered by Word

[2021-01-09 09:38] waridrox commented on #121
I actually thought about this from the first time I visited the website but I did not know for certain if it was possible to actually change the website from our end. I thought maybe the main authorities might prevent that from happening 😅.

The points highlighted by @HarshCasper are very crucial especially if we consider the report from the [PageSpeed Insights](https://developers.google.com/speed

[2021-01-10 00:46] aornugent commented on #66
@Patamap @gmajan - could you please post a public link to this diagram?

[2021-01-10 01:13] aornugent commented on #121
Thanks @HarshCasper. In an open community like moja global, any topic should be open for discussion and it is important that we develop community buy-in before expending any effort coding. Well done for sharing your ideas up front.

I would like to use this issue is to seek requests for comment on the adoption of a common Javascript UI framework for moja global projects. We may find that separate

[2021-01-10 07:41] waridrox commented on #121
As pointed out, we have to also look from the perspective of the maintainers, they cannot go and implement new changes in the website every now and then or rely on someone to do it when they have to release something important very quickly. For that reason, I think it is better to leave the official website in the hands of the maintainers and implement the idea in #110 😇

[2021-01-10 11:54] abhi211199 commented on #121
As far as the tech stack is concerned, Gatsby is a great choice for SSGs with diverse support of ReactJS, onboarding new content and tweaking the UI is super easy! But, in the context of refactoring the moja global website, I totally agree with @aornugent that Wordpress may be continued in the future to maintain the website, for maintaining/devising new projects, we can use JS frameworks!

Now, ta

[2021-01-11 13:32] gmajan commented on #66
This is the public link to the diagram referenced above.
https://app.lucidchart.com/lucidchart/invitations/accept/2aef6458-ed34-48bf-a13e-ef877878430e

[2021-01-14 22:59] aornugent commented on #66
I see - thanks Guy. Posting screencaps here to remove the need for sign in.

## High level design
![image](https://user-images.githubusercontent.com/20387761/104658933-dedfb800-5717-11eb-9860-2a7f6382d01a.png)

## Control flow
![image](https://user-images.githubusercontent.com/20387761/104658957-ec953d80-5717-11eb-85d2-f03dcc5eb119.png)

## Sequence diagram
![image](https://user-images.githubuserc

[2021-01-15 01:12] aornugent commented on #110
It'd be awesome to have a moja wall of fame, for our contributors like this: https://www.globalwarmingmitigationproject.org/constellations-interns

[2021-01-15 21:32] waridrox opened #122 "Discussion on functionality of moja-global contributors website"
**Describe the bug**
The current contributor website can be found [here](https://contributors-website.herokuapp.com).
The following components of the website were found to be non-functional:
- Unresponsive navigation buttons -
![image](https://user-images.githubusercontent.com/58583793/104778543-87872980-57a3-11eb-955e-769f957754a1.png)

- Very long loading time.
![image](https://user-images.githu

[2021-01-23 11:32] HarshCasper opened #123 "Adopt a Documentation Generator for use with Moja Global"
**Is your feature request related to a problem? Please describe.**

Currently, I have not found the usage of Documentation Generator Tools in usage at Moja Global. Right now all the Documentation is hosted on the [Moja Global Docs](https://docs.moja.global/en/latest/) and Wiki Tabs.

**Describe the solution you'd like**

We can make use of a Documentation Generator like [Doxygen](https://github.co

[2021-01-23 11:34] HarshCasper commented on #123
cc: @aornugent @gmajan

[2021-01-24 13:00] gmajan commented on #123
@sabitarao

[2021-01-27 09:50] aornugent commented on #121
I asked a friend to review this topic, these are his notes:

Would someone be interested in evaluating something Contentful as a potential CMS frontend for our comms team? It might be useful for the Contributors site if we start publishing regular case studies on module development, FLINT architecture etc. @waridrox is also evaluating documentation generators for UI components such as https://stor

[2021-01-27 11:07] abhi211199 commented on #121
SEO may be regarded as a very useful parameter, Googlebot and some other search engine crawlers tend to fetch the basic `index.html` boilerplate pages as the static site generators generally render content dynamically.

While Gatsby can handle [this easily](https://www.gatsbyjs.com/docs/how-to/adding-common-features/seo), I do not have a proper idea of how NextJS renders content/behave with web cr

[2021-01-27 17:10] waridrox commented on #121
Maybe this can be useful as far as the SEO is concerned...
[Screenshot_2021-01-27-19-23-53-873_com.vanced.android.youtube.jpg](https://user-images.githubusercontent.com/58583793/106027093-91d4ec00-60f0-11eb-96c6-d86288b68b74.jpg)

[2021-01-27 17:50] abhineet97 commented on #121
From where I see it, [moja.global](https://moja.global) seems like a **content-only** website. People visit our website to learn about what we're doing, what are the latest updates, how can they get in touch with us, etc.

Now, why do we need a JavaScript framework for any of those purposes?

Don't get me wrong, I totally agree that the current website is slow, ugly and is hurting our visibility w

[2021-01-27 20:44] aornugent commented on #121
Quick clarification: ideally we'd like to choose a JS framework that can be reused for all of our interfaces, including websites, apps (e.g. Electron), browser based interfaces for pre- and post-processing. This is so that UI components can be reused across our platform.

The considerations about SSGs and content management should be secondary components that support the specific application of ou

[2021-04-17 20:55] iamrajiv opened #126 "Adding Developer Certificate of Origin (DCO) GitHub action"
**Is your feature request related to a problem? Please describe.**
In the pull request template, there is a checklist for the Developer Certificate of Origin (DCO) but there is no GitHub action to validate whether the person who has made the pull request had signed DCO or not.

**Describe the solution you'd like**
Adding Developer Certificate of Origin (DCO) GitHub action something like [Probot: D

[2021-04-17 20:55] iamrajiv commented on #126
@gmajan @Tlazypanda @aornugent I want to work on this.

[2021-04-17 21:01] iamrajiv commented on #126
@gmajan @Tlazypanda @aornugent his GitHub action is also needed in other repositories like `FLINT`, `FLINT.Cloud` etc. I would like this implement this across relevant moja global projects.

[2021-04-18 20:56] gmajan commented on #126
the Signed-off-by line
is indeed required across all repos.
I think it is a good idea to suggest to @aornugent

[2021-05-01 00:32] aornugent opened #127 "Add DNS for join.moja.global"
I can never remember our Slack link and would like to set up a more memorable domain name. We'll also need to update our comms with the new address.

Here is the Slack invite: https://join.slack.com/t/mojaglobal/shared_invite/zt-o6ta1ug0-rVLjAo460~d7JbZ~HpFFtw

Many thanks!

[2021-05-08 15:45] Tlazypanda commented on #127
Hey @aornugent I don't have access to do this the Linux Foundation team handles the website :sweat_smile:  this for reference https://github.com/moja-global/moja_global_docs/issues/14

[2021-05-09 01:33] aornugent commented on #127
Ah that's right! Thanks Sneha

On Sun, 9 May 2021, 1:46 am Sneha Mishra, ***@***.***> wrote:

[2021-05-10 14:03] sarthakkundra commented on #123
@HarshCasper Can I close this?

[2021-05-10 14:05] sarthakkundra commented on #110
@shubhamkarande13 Can I close this?

[2021-05-10 14:13] sarthakkundra opened #128 "Broken link in readme"
The FLINT link in the readme seems to give a 404. Needs to be updated to the correct link.

[2021-05-10 14:52] shubhamkarande13 commented on #110
@sarthakkundra
Let's keep this open till the website is ready.

[2021-05-11 05:34] HarshCasper commented on #123
As of now its a different issue, out of scope for the GSoD Project. Let's keep it open and revisit it after sometime.

[2021-05-12 00:31] aornugent commented on #110
Given that the action plan is out of date, perhaps we move it to the GSoD repo and update to match this year's project. @shubhamkarande13 would you like to handle this or should @sarthakkundra?

[2021-05-12 06:48] shubhamkarande13 commented on #110
@aornugent That seems like a perfect solution.

@sarthakkundra Could you move this to the GSoD repo?

[2021-05-12 06:49] #128 closed

[2021-05-14 13:43] aornugent commented on #114
@sarthakkundra has recently updated the labels for GSoD'21

[2021-05-14 13:43] #114 closed

[2021-06-04 08:00] HarshCasper opened #131 "Add GitHub Bots to moja global repositories"
## Description

Here is the list of GitHub Bots that can integrate at the beginning: https://docs.google.com/spreadsheets/d/1VVSLZ4QIqQxl1h4bM8JxF4lOmRlK8N0cnJfBqSgRP8o/edit?usp=sharing

We need to have project-specific bots later (Especially for Python and JS-based projects) to track code quality, builds and all. Please have a look and let me know what you think. You can also add more bot integra

[2021-06-04 08:02] HarshCasper commented on #131
cc: @aornugent @shubhamkarande13 @sarthakkundra

[2021-06-04 10:35] sarthakkundra commented on #131
@HarshCasper The list looks good. I think we can leave the 'Request info` action because we will have issue / PR templates for all repos. If an issue doesn't follow the required format then we should not take it forward.

[2021-06-08 18:28] raghavraj-27 commented on #120
I am a beginner. I would like to work on this. Can you please assign it to me and guide me a little bit about what to write in it.

[2021-06-14 09:32] aornugent commented on #120
Hey @HarshCasper - is this something that @raghavraj-27   can take up? I think your suggestion to copy the same information as RTD is a good idea.

[2021-06-30 14:11] HarshCasper commented on #131
Here are the bots to be integrated:

### Prosebot

- [ ] moja-global/FLINT.User_Guide
- [ ] moja-global/FLINT_Modules_docs
- [ ] moja-global/moja_global_docs
- [ ] moja-global/contributor-website-v2
- [ ] moja-global/About_moja_global
- [ ] moja-global/Google_Season_of_Documentation

### Stalebot

- [ ] moja-global/moja_global_docs
- [ ] moja-global/FLINT_Modules_docs
- [ ] moja-global/FLINT.User_

[2021-07-05 04:10] HarshCasper commented on #126
Done! It works across most of the repositories now :rocket:

[2021-07-05 04:10] #126 closed

[2021-07-05 04:25] HarshCasper opened #135 "Docs for Contribution Criteria and User Interface Style"
## Description

The two documents *Contribution Criteria* & *User Interface Style Guide* marked as `To be completed` were deleted off in this commit https://github.com/moja-global/About_moja_global/pull/134/commits/0c42be0626a2a7d90ebdba42db0c8fc7693f1088. We need to finish them and bring them back to the `Governance` docs.

The *Contribution Criteria* docs overlap with the `CONTRIBUTING.md` we al

[2021-07-05 09:55] shubhamkarande13 commented on #135
If the content from _Contribution Criteria_ docs are already merged in _Contributing.md_ then we don't need
_Contribution Criteria_ docs in the repo.✌️

[2021-07-08 12:36] #76 closed

[2021-07-08 12:36] #77 closed

[2021-07-08 12:36] #67 closed

[2021-07-08 12:36] #60 closed

[2021-07-08 12:36] #56 closed

[2021-07-12 21:42] shubhamkarande13 commented on #81
@aornugent Shouldn't we update the contributors? It has almost been a year!  😅

[2021-07-13 03:27] aornugent commented on #81
That'd be fantastic, thanks @shubhamkarande13!

[2021-07-15 09:06] aornugent opened #136 "Rename `About.moja.global`"
I'd like to standardise our naming conventions to follow those laid down by the maintainers. However this repo is a trickier than most as it is reference in other places. We'll need to double check any backlinks and standardise them as we make this change.

[2021-07-15 14:53] HarshCasper commented on #120
Sure @aornugent

Assigning you the same @raghavraj-27 - Ping me on Slack if you need any help or drop a comment here :rocket:

[2021-07-24 03:33] aornugent opened #137 "Update branding guidelines"
@ksocksTR33Z has an awesome new set of brand assets, but these are not reflected in our governance docs: https://github.com/moja-global/About_moja_global/blob/master/Governance/BRANDING.md

[2021-07-26 15:54] ksocksTR33Z commented on #137
Hi All, we have all of the assets here for everyone to use. I'm not sure how to update the governance docs myself so if you could help support @sarthakkundra that would be fantastic: https://drive.google.com/drive/folders/156SUapBc0XdLkkcgL6WZUPtsBCXDQiTI?usp=sharing

[2021-07-30 22:26] aornugent commented on #131
I'd like to update the stalebot text. Is this globally configured, or in each repo? Let's also bump the auto-close window to 14 days, to allow more time for a reply.

[2021-08-02 06:58] HarshCasper opened #138 "Naming conventions for repositories"
## Description

Currently, we don't have a standard naming convention for repositories. Indiscriminate use of dashes, underscores or dots makes it difficult for maintainers to follow a standard convention while naming the repositories for associated projects.

While choosing a repository name, we should take pick a name, that is:

- Consistent
- Readable
- Descriptive
- Extensible
- Future-proof
-

[2021-08-04 06:49] Ayush7614 commented on #136
@aornugent i would like to work on the issue please assign me

[2021-08-05 06:56] aornugent commented on #136
Thanks @Ayush7614 - moving this convo to #138

[2021-08-05 06:56] #136 closed

[2021-08-05 09:53] HarshCasper commented on #131
@aornugent Here is the configuration for the same: https://github.com/moja-global/About_moja_global/blob/master/.github/stale.yml

[2021-08-05 09:54] HarshCasper commented on #81
@all-contributors bot please add @HarshCasper for code

[2021-08-05 09:54] HarshCasper commented on #81
@all-contributors bot please add @HarshCasper for documentation

[2021-08-05 09:56] HarshCasper commented on #81
@all-contributors bot please add @sarthakkundra for code

[2021-08-05 09:56] HarshCasper commented on #81
@all-contributors bot please add @sarthakkundra for documentation

[2021-08-05 09:59] HarshCasper commented on #81
@all-contributors bot please add @chicken-biryani for documentation

[2021-08-05 09:59] HarshCasper commented on #81
@all-contributors bot please add @iamrajiv for documentation

[2021-08-05 09:59] HarshCasper commented on #81
@all-contributors bot please add @iamrajiv for code

[2021-08-05 10:01] HarshCasper commented on #81
@all-contributors bot please add @waridrox for code

[2021-08-05 10:01] HarshCasper commented on #81
@all-contributors bot please add @waridrox for design

[2021-08-05 10:07] HarshCasper commented on #81
@all-contributors bot please add @sarahhaggarty for docs

[2021-08-08 23:43] #127 closed

[2021-09-04 15:13] HarshCasper commented on #131
Closing this since GitHub Bots have been integrated to most projects.

[2021-09-04 15:13] #131 closed

[2021-09-27 17:31] #120 closed

[2021-10-04 05:47] unnati914 commented on #135
I would like to work on this repo

[2021-10-04 06:46] HarshCasper commented on #135
Hi @unnati914 :wave:

Thanks for taking it up! We had a lot of discussions about this part and we would like the `CONTRIBUTING.md` to be specific to this repository itself! All in all, we would like to cover these points:

- Forking and cloning the project
- Making changes for them on a branch
- Committing the changes (including some best practices)
- How to resolve merge conflicts
- Directory Str

[2021-10-04 06:51] unnati914 commented on #135
Hi @HarshCasper :) Tysm for assigning this issue. Just to clear, I have to only add UI Style Doc to Governance Doc right?

[2021-10-04 07:10] HarshCasper commented on #135
There is not a firm idea of what we wish to do with the same. So for now, you can just skip that part.

[2021-10-11 17:00] #81 closed

[2021-10-18 00:51] ChrisKeefe opened #147 "Broken contrib link in Wiki homepage"
**Describe the bug**
The wiki homepage has a broken "How to make a contribution?" link.

It should probably be updated to this:
https://github.com/moja-global/About_moja_global/blob/master/CONTRIBUTING.md

**Screenshots**
![image](https://user-images.githubusercontent.com/39198770/137651620-13a45839-2425-4005-a165-5d2ba40b32cb.png)

![image](https://user-images.githubusercontent.com/39198770/13765

[2021-10-18 03:07] ChrisKeefe opened #148 "Many broken links in contributor guidelines"
In addition to the broken link on the wiki referenced in #147, this repository has many broken links in the source code. After finding and correcting a few in the [contributor guidelines](https://github.com/moja-global/About_moja_global/blob/master/CONTRIBUTING.md), I believe there is a pattern here of renaming/re-organizing files without updating links with global find/replace.

- In the short te

[2021-10-18 05:30] HarshCasper commented on #148
This would be a great addition! Thanks.

[2021-10-18 19:04] ChrisKeefe commented on #148
@all-contributors please add @ChrisKeefe for bug, infra, code

[2021-10-20 23:49] ChrisKeefe commented on #147
Hi @Angelvicks, I'm a new contributor to this project, and also don't have access to edit the wiki (which is probably restricted to regular contributors for editing). You'll probably need to talk with a project maintainer. Good luck!

[2021-10-24 06:54] SUCHITRAGIRI opened #152 "Translate the documentation in "Hindi" language"
@gmajan @abhineet97 @mtbdeligt
Kindly assign me this issue!

[2021-11-08 07:49] #137 closed

[2021-11-18 06:03] #138 closed

[2021-11-27 02:42] #147 closed

[2021-11-30 12:26] #152 closed

[2021-12-08 09:00] #121 closed

[2021-12-10 18:08] mehabhalodiya commented on #135
@HarshCasper Is this issue still open to work on?
Please let me know, as I am interested to work on Docs!

[2022-02-09 17:15] arushi-mittal opened #156 "Grouping small repos in science section"
**What does the current documentation state?**
Currently, there are many small repositories (1-2 documents) that can be grouped together in a science section to reduce the repository count.

**Where is this stated?**
Older repositories such as [FLINT.Module.Forest_biomass_model](https://github.com/moja-global/FLINT.Module.Forest_biomass_model), and [FLINT.Projections](https://github.com/moja-globa

[2022-02-19 08:57] chicken-biryani opened #158 "Meeting notes 19-02-22 / UI working group"
--

[2022-02-19 15:53] #158 closed

[2022-02-28 05:55] chicken-biryani opened #161 "Add Meeting Notes Template."
Add Meetings Template to working-groups

Take a look over here:
https://github.com/conda-forge/conda-forge.github.io/blob/main/misc/DEV_MEETING_TEMPLATE.md?plain=1

Make Date Format as DD-MM-YYYY

[2022-02-28 19:29] chicken-biryani opened #162 "Add 'DevOps' working group info."
**To Do:**

**Add a directory named as 'DevOps' in ['working-group'](https://github.com/moja-global/About_moja_global/tree/master/working-groups)**

Add the following sections:
- **About:**
The 'About' part should be able to be a good introduction to the working group.

 Template:
- Status i.e Incubating
- About the DevOps working group.
- Meeting Details.
- Goal of the working group.
- Tools and

[2022-02-28 19:29] chicken-biryani opened #163 "Add 'Documentation' working group info."
**To Do:**

**Add a directory named as 'documentation' in ['working-group'](https://github.com/moja-global/About_moja_global/tree/master/working-groups)**

Add the following sections:
- **About:**
The 'About' part should be able to be a good introduction to the working group.

 Template:
- Status i.e Active
- About the Documentation working group.
- Meeting Details.
- Goal of the working group.
-

[2022-02-28 19:59] gchhablani commented on #161
Can I take this up?

[2022-02-28 20:46] iharshit009 commented on #162
Can I work on it @chicken-biryani ?

[2022-02-28 21:30] chicken-biryani opened #164 "Add 'Modules' working group info."
**To Do:**

**Add a directory named as 'Modules' in ['working-group'](https://github.com/moja-global/About_moja_global/tree/master/working-groups)**

Add the following sections:
- **About:**
The 'About' part should be able to be a good introduction to the working group.

 Template:
- Status i.e Incubating
- About the Modules working group.
- Meeting Details.
- Goal of the working group.
- Tools an

[2022-02-28 21:34] chicken-biryani opened #165 "Add 'Mentorship' working group."
**To Do:**

**Add a directory named as 'Mentorship' in ['working-group'](https://github.com/moja-global/About_moja_global/tree/master/working-groups)**

Add the following sections:
- **About:**
The 'About' part should be able to be a good introduction to the working group.

 Template:
- Status i.e Incubating
- About the Mentorship working group.
- Meeting Details.
- Goal of the working group.
- To

[2022-02-28 21:40] chicken-biryani opened #166 "Add 'Optimisation' working group info."
**To Do:**

**Add a directory named as 'Optimisation' in ['working-group'](https://github.com/moja-global/About_moja_global/tree/master/working-groups)**

Add the following sections:
- **About:**
The 'About' part should be able to be a good introduction to the working group.

 Template:
- Status i.e Incubating
- About the Optimisation working group.
- Meeting Details.
- Goal of the working group.

[2022-03-01 00:22] Sukriti-sood commented on #163
@chicken-biryani Pleaae assign me..

[2022-03-01 03:25] AmitKarnam commented on #165
I would like to take this up @chicken-biryani .

[2022-03-01 03:34] AayushSaini101 commented on #166
Please assign this @chicken-biryani

[2022-03-01 06:31] HarshCasper commented on #165
@aornugent Would you like to lead this working group, if you have the bandwidth?

[2022-03-01 06:32] HarshCasper commented on #166
@chicken-biryani @AayushSaini101 A note: We don't know the scope of the Optimization working group **as of now**. It would be ideal to touch base with @aornugent to brainstorm what plans he has about getting started with this and who would ideally lead this.

[2022-03-01 07:26] aornugent commented on #165
Thanks @HarshCasper - happy to lead. Thanks @AmitKarnam for picking this up. Please tag me when you have a PR up and I can review and edit.

[2022-03-01 07:41] chicken-biryani commented on #166
@HarshCasper the lead- yes. I was thinking about adding the information for now and put it in 'incubating'.

[2022-03-01 08:59] tejaswari7 commented on #164
@chicken-biryani I would like to take up this issue
Please assign this to me.

[2022-03-01 09:02] chicken-biryani commented on #164
Hey, @tejaswari7 sure.

Please feel free to attend the documentation working group meetings to get guided on how to go about it. And do keep a touch with us on Slack #documentation.

This document will recuire a little brainstorming... As it's details aren't readily available.

Don't worry about the 'meeting details' part.

[2022-03-01 15:21] #161 closed

[2022-03-01 15:29] tejaswari7 commented on #164
Sure!!

[2022-03-04 12:40] chicken-biryani opened #169 "Add/Modify ISSUE_TEMPLATE/config.yml across repositories."
Every repository has:
`/.github/ISSUE_TEMPLATE/`. There are two possibilities that either `ISSUE_TEMPLATE` has `config.yml` or it doesn't.

**To do:**
1) If ISSUE_TEMPLATE doesn't have `config.yml` then add it else skip to 2.
2) Modify or add the following to 'config.yml':

[code]

[2022-03-04 15:47] utkershrajvenshi commented on #169
Hi @chicken-biryani
I'd like to work on it. Could you please assign me this issue...

[2022-03-04 16:15] chicken-biryani commented on #169
@utkershrajvenshi definitely!

[2022-03-05 13:32] atharvapatil123 commented on #169
Hi @chicken-biryani, Can I work on this?
Only if @utkershrajvenshi is not working on it.

[2022-03-05 13:35] chicken-biryani commented on #169
Hey, @atharvapatil123 Utkarsh is working on it.

We'll be opening a few UI related issues/ documentation....

Join our slack and join the #user-interface channel for updates

[2022-03-05 13:50] atharvapatil123 commented on #169
Hi @chicken-biryani, I'll join the channel.
Thanks!

[2022-03-06 14:34] Kritijaiswal2901 commented on #169
Hi @chicken-biryani
I'd like to work on it. Could you please assign me this issue.

[2022-03-06 14:49] chicken-biryani commented on #169
Hey @Kritijaiswal2901 it's already being worked upon by @utkershrajvenshi.

But I am sure we can take your help with other things.

Please reach out to us on Slack in #general channel.

[2022-03-06 16:24] chicken-biryani commented on #162
Hi, @iharshit009 how is the doc coming up?

[2022-03-09 19:21] iharshit009 commented on #162
Hey @chicken-biryani  Working on it will try to raise PR by this Saturday

[2022-03-09 20:10] chicken-biryani commented on #162
@iharshit009 I'd recommend conversing with @HarshCasper over slack.

It may be possible that what and how you're going about building the document is not what's required by the lead.

To work in a more efficient manner please have a word with the lead, in this case @HarshCasper.

Thanks! :)

[2022-03-11 18:05] HarshCasper commented on #156
Let's keep it open for new contributors.

[2022-03-12 05:44] AmitKarnam commented on #165
I had a go at this and with the help of @chicken-biryani , I have come up with a draft in the following Google form, please do review and suggest changes if any! Thank you!

Link : https://docs.google.com/document/d/18j9hYbXgd6x6_-6OeJV4MWdtlx-bsVbFd-GbcAmjFrk/edit#

[2022-03-12 10:18] Sukriti-sood commented on #156
I would like to work on this.

[2022-03-12 10:52] SanjaySinghRajpoot commented on #156
Let me know if you need any help in this @Sukriti-sood

Thank You

[2022-03-30 21:34] Shorla commented on #163
@chicken-biryani can I work on this? Though I noticed it has been assigned to @Sukriti-sood. Is it currently being worked on? or is there something else I can contribute to?

[2022-03-30 21:46] chicken-biryani commented on #163
Hey, @Shorla that's up to @Sukriti-sood to decide.

All you'll have to do is copy-paste the content from the community website/working groups /  Documentation as the content is already up there.

Make the file structure similar to that of the user-interface folder.

[2022-03-30 22:17] Shorla commented on #163
@Sukriti-sood if you think I should, I will like to get started right away.

[2022-04-01 03:54] Sukriti-sood commented on #163
Sorry for late reply.. but you can work on this.

[2022-04-05 16:58] chicken-biryani commented on #169
Hi @utkershrajvenshi any updates?

[2022-04-06 03:18] utkershrajvenshi commented on #169
Yes @chicken-biryani , I'll get back on [this](https://github.com/moja-global/FLINT-UI/pull/167) thread later today. I had to tend to some other work in the meantime and am sorry for not communicating the delay.

[2022-04-07 11:12] #166 closed

[2022-04-07 16:47] #164 closed

[2022-04-07 17:49] Shorla commented on #163
How do I get information on the documentation working group

[2022-04-07 17:55] chicken-biryani commented on #163
@Shorla you'll find it on the community website. Under working groups... In the footer.

[2022-04-16 11:50] #162 closed

[2022-04-18 20:50] #156 closed

[2022-04-18 20:50] #165 closed

[2022-05-13 07:58] #169 closed

[2022-05-27 21:09] #163 closed